<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vikaa.meidi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
         />
	
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  	<uses-permission android:name="android.permission.CAMERA" />
  	<uses-permission android:name="android.permission.INTERNET"/>
  	<uses-permission android:name="android.permission.VIBRATE"/>
  	<uses-permission android:name="android.permission.FLASHLIGHT"/>
  	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
  	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  	<uses-permission android:name="android.permission.GET_TASKS"/>
  	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
  	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
  	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>

  	<uses-feature android:name="android.hardware.camera" />
  	
  	<!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.momoka.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.momoka.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="config.MeiDiApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
         <meta-data android:name="com.crashlytics.ApiKey" android:value="d6f3179ac695a7efd4c28c329ce8a5c04f2e0bc7"/>
         <meta-data android:name="com.amap.api.v2.apikey" android:value="cfe7a9c798f747638c24888ba448727a" />
        <activity android:name="ui.Tab" android:screenOrientation="portrait" >           
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
       	 	</intent-filter>
        </activity>
        
        <activity android:name="ui.Home" android:screenOrientation="portrait" android:launchMode="singleTask">
                       
        </activity>
        
		<activity android:name="ui.Wash" android:screenOrientation="portrait" android:launchMode="singleTask" >
                       
        </activity>
        
		<activity android:name="ui.Tips" android:screenOrientation="portrait" android:launchMode="singleTask" >
                       
        </activity>
        
		<activity
   android:name="cn.sharesdk.framework.ShareSDKUIShell"
   android:theme="@android:style/Theme.Translucent.NoTitleBar"
   android:configChanges="keyboardHidden|orientation|screenSize"
   android:screenOrientation="portrait"
   android:windowSoftInputMode="stateHidden|adjustResize" />
		
		<activity
   android:name="ui.WXEntryActivity"
   android:theme="@android:style/Theme.Translucent.NoTitleBar"
   android:configChanges="keyboardHidden|orientation|screenSize"
   android:exported="true"
   android:screenOrientation="portrait" />
        
		<receiver android:name="ui.Wash$WeatherReceiver"
		    > 
            <intent-filter> 
                <action android:name="getweather"/> 
            </intent-filter> 
        </receiver> 
        
    </application>
    
</manifest>
